.movies-card{
  max-width: 360px;
  border-radius: 6px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.movies-card__info{
  display: flex;
  padding: 18px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.movies-card__name{
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.movies-card__time{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color:  #A0A0A0;
}

.movies-card__button{
  margin: 18px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  max-width: 100px;
  width: 100%;
  padding: 9px 0px;
  border: none;
  background-color: #F9F9F9;
  border-radius: 30px;
}

.movies-card__image{
  width: 100%;
}

@media(max-width:1000px){
  .movies-card{
    max-width: 342px;
  }
}

@media(max-width: 780px){
  .movies-card{
    max-width: 300px;
  }

  .movies-card__button{
    margin: 14px 0;
  }

  .movies-card__info{
    padding: 14px;
  }
}